# --- 编译产物 (必选) ---
*.exe
*.o
*.obj

# 过滤掉 Linux/Mac 下可能的生成文件
*.out
*.app

# --- VS Code 临时文件 (必选) ---
.vscode/ipch/
.vscode/bin/
.vscode/*.exe

# .vscode/

# --- Python 脚本缓存 ---
__pycache__/
*.pyc
*.pyo

# --- CPH 数据文件 (可选) ---
.cph/

# --- 系统临时文件 ---
Thumbs.db
.DS_Store
.history/ac_heatmap.png 
ac_heatmap.png 
